* {
  margin: 0px;
  padding: 0px;
}

#root {
  background: #ADA996;
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  height: 939px;

}
h3{
  text-align: center;
  margin: 10px;
  font-size: 40px;
}